node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test / build caches
coverage
*.tsbuildinfo
